.App {
  height: -webkit-fill-available;
  background-color: #00c07f;
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.NewQuote {
  background-color: #f9f8fd;
  height: 200px;
  padding: 20px;
  margin: 20px;
}

.Quote {
  background-color: #f1f0ee;
  height: 200px;
  padding: 20px;
  margin: 5px;
}

.quote-text {
  height: 112px;
}

.quote-text textarea.form-control {
  height: inherit;
}